

body {
    margin: 0;
    text-align: center;
    font-size:2em;
}


h1 {
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
}


h2 {
    margin-top: 0 auto;
    font-family: 'Montserrat', sans-serif;
}



.subtitle {
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
}
.Top {
    padding-top: 10px;
    background-color: #beebe9;

    width: 100%;
  }
.Medium {
    background-color: #fffdf9;
    margin:auto;
    text-align:center;
}
.Botton {
    background-color: #ffe3ed;
}
.luana {
    padding-top:100px;   
    background-color: #fffdf9;
    border-radius: 100%;
    width: 30%;
    
}
table {
    text-align: center;
    margin: 0 auto;
    margin-top: 0;
}
.skills {
    text-align: center;
    background-color: #3B6978;
}
.contact-me {
    background-color: #84a9ac;
}
.pro {
    text-decoration: underline;
}
.cloudTop {

    position: absolute;
    right:20%;
    /*top:60px;*/
}
.cloudBotton {
  
    position: absolute;
    left:9em;
    /*bottom:6em;*/
  
}
.moutain {
  width:100%;
}






